fluxo_n8n_emenda_insight.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        144,
        208
      ],
      "id": "d9ede1f3-119c-4d49-8d27-fe586742d9ac",
      "name": "Download a file",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "aKiIZUsXF6Nz4S59",
          "name": "Microsoft Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-auditoria",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        -16
      ],
      "id": "bb4bb1ff-5aa1-40bf-bc72-dd007541ba8d",
      "name": "Webhook",
      "webhookId": "300902c6-3c65-4a3e-97d0-c0c0caba58dc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensagem do Usuário: {{ $('Webhook').first().json.body.mensagem_usuario }}\n\n[DADOS CONSOLIDADOS DA AUDITORIA]\nAnalise a seguinte base de dados fatiada (Ano | Município | Valor | Proponente | Partido | Órgão | Objeto):\n{{ $input.all().map(i => `${i.json.ANO} | ${i.json.MUNIC_PROPONENTE} | R$ ${i.json.sum_VALOR_LIMPO} | ${i.json.NM_PROPONENTE} | ${i.json.Partido} | ${i.json.DESC_ORGAO_SUP} | ${i.json.OBJETO_PROPOSTA}`).join('\\n') }}",
        "options": {
          "systemMessage": "=[IDENTIDADE E MISSÃO]\nVocê é um Analista de Dados Especialista em Auditoria Pública e Integridade. Sua missão é analisar dados governamentais cruzando volumes financeiros com possíveis padrões estratégicos ou indícios de irregularidades.\n\n[TRAVA DE SEGURANÇA E USO DA WEB]\nIMPORTANTE: Só realize a busca na internet se o usuário pedir EXPLICITAMENTE por notícias, investigações, escândalos ou demonstrar dúvida sobre a integridade/idoneidade do parlamentar ou proponente. Se a solicitação for apenas uma análise financeira ou resumo estrutural dos dados, NÃO ative a ferramenta de busca.\n\n[DIRETRIZES DE INVESTIGAÇÃO WEB (Quando ativada)]\nRealize buscas focadas nas palavras 'investigação', 'denúncia' ou 'corrupção' envolvendo o nome do parlamentar e seu partido.\nPRIORIDADE TOTAL: Se encontrar resultados nos portais \"The Intercept Brasil\" ou \"ICL Notícias\", dê precedência absoluta a estas informações e cite-as explicitamente como fontes de alta credibilidade.\nSe não houver menções nestas fontes, utilize agências de notícias padrão, mantendo um tom crítico e imparcial.\n\n[DIRETRIZES DA RESPOSTA]\nCrie um resumo executivo com base nos dados consolidados fornecidos no prompt:\nParágrafo 1: Destaque o volume financeiro e as áreas de maior investimento.\nParágrafo 2: Analise o padrão político/estratégico, cruzando o partido/bloco com os tipos de órgãos e naturezas jurídicas escolhidas.\nParágrafo 3: (Apenas se a busca for solicitada e ativada) Cruze as emendas com o histórico de reputação e eventuais escândalos apurados.\n\nREGRA DE SAÍDA OBRIGATÓRIA:\nVocê não deve responder com texto livre. A sua resposta final DEVE ser exclusivamente um objeto JSON estruturado, sem formatação Markdown (sem ```json) e sem blocos de código. O objeto JSON deve conter exatamente estas 4 chaves:\n{\n  \"resposta_chat\": \"O seu texto analítico principal e amigável sobre os dados financeiros do parlamentar.\",\n  \"anomalia\": \"Se houver denúncias ou anomalias nos dados lidos, resuma aqui. Caso contrário, escreva: 'Nenhum indício anômalo localizado nos dados atuais.'\",\n  \"insight\": \"Uma observação curta e inteligente sobre o maior volume de emendas ou o partido.\",\n  \"monitorando\": \"Acompanhando portais de transparência.\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        80,
        432
      ],
      "id": "fd0ecdc6-b334-42d2-bd4a-7f704cc0fc08",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        624
      ],
      "id": "41161f71-aa6a-46ae-a462-8e2991ac6d8d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FmHd1AglYU1v8KWF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": "br",
          "hl": "pt-br"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        304,
        624
      ],
      "id": "640b15e8-2629-4923-ba33-430627b85b29",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "tuY54OYNfNsxZees",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "folderId": "B420984347B4F26B!se3727d4fa04c4538a529e1f3d8d02c98"
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1.1,
      "position": [
        240,
        -16
      ],
      "id": "08a9e9d7-6e20-41f0-9623-55448f3bfe65",
      "name": "Get items in a folder",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "aKiIZUsXF6Nz4S59",
          "name": "Microsoft Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c43855ef-07c3-4e85-83e4-13928c3bfefe",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Webhook').first().json.body.contexto_painel.parlamentar_selecionado.toUpperCase() }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        480,
        -16
      ],
      "id": "ff1c41f8-f1f0-4304-87fa-c159de6a6ea2",
      "name": "Filter1"
    },
    {
      "parameters": {
        "jsCode": "// 1. Pega o texto gerado pela IA\nlet textoCru = $input.first().json.output || \"\";\n\n// 2. Tira formatações de markdown que a IA insiste em colocar\ntextoCru = textoCru.replace(/```json/gi, '').replace(/```/g, '').trim();\n\n// 3. Extrator Cirúrgico: Pega só o que está entre { e } ignorando textos como \"Aqui está sua resposta:\"\nlet inicioJson = textoCru.indexOf('{');\nlet fimJson = textoCru.lastIndexOf('}');\n\nif (inicioJson !== -1 && fimJson !== -1) {\n    textoCru = textoCru.substring(inicioJson, fimJson + 1);\n}\n\nlet objetoJson;\n\ntry {\n    // 4. Tenta ler o JSON limpo\n    objetoJson = JSON.parse(textoCru);\n} catch (erro) {\n    // 5. MODO DE SEGURANÇA MÁXIMA: \n    // Se a IA desobedeceu totalmente, nós dividimos o texto nas 4 caixinhas do Lovable para não dar erro na tela.\n    objetoJson = { \n        \"resposta_chat\": \"A IA respondeu em formato de texto livre. Aqui está a análise: \\n\\n\" + textoCru,\n        \"anomalia\": \"Dados não estruturados pela IA.\",\n        \"insight\": \"Dados não estruturados pela IA.\",\n        \"monitorando\": \"Acompanhando portais de transparência.\"\n    };\n}\n\n// 6. Entrega as 4 chaves lidas ou salvas pelo modo de segurança\nreturn [{ json: objetoJson }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        432
      ],
      "id": "13c52417-2177-46c8-ae0f-0e347d1f9b14",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// 1. Puxa o arquivo fatiado da memória\nconst binaryBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst csvText = binaryBuffer.toString('utf-8');\n\n// 2. A Lista de Ouro (Agora apontando para a DIA_PROPOSTA)\nconst colunasDesejadas = [\n    'DIA_PROPOSTA', \n    'VALOR_REPASSE_PROPOSTA_EMENDA',\n    'NM_PROPONENTE',         \n    'MUNIC_PROPONENTE',\n    'OBJETO_PROPOSTA',\n    'Partido',\n    'NomeBloco',\n    'TipoParlamentar',\n    'DESC_ORGAO_SUP',\n    'NATUREZA_JURIDICA'\n];\n\nconst lines = csvText.split('\\n');\nif (lines.length === 0) return [];\n\nfunction parseCSVLine(text) {\n    let ret = [], keep = false, token = '';\n    for (let i = 0; i < text.length; i++) {\n        let c = text[i];\n        if (c === '\"') keep = !keep;\n        else if (c === ',' && !keep) { ret.push(token.trim().replace(/^\"|\"$/g, '')); token = ''; }\n        else token += c;\n    }\n    ret.push(token.trim().replace(/^\"|\"$/g, ''));\n    return ret;\n}\n\nconst header = parseCSVLine(lines[0]);\nconst indexMap = {};\ncolunasDesejadas.forEach(col => {\n    indexMap[col] = header.findIndex(h => h === col);\n});\n\nconst results = [];\n\n// 3. Varre as linhas extraindo o filé mignon\nfor (let i = 1; i < lines.length; i++) {\n    if (!lines[i] || lines[i].trim() === '') continue;\n    \n    let cols = parseCSVLine(lines[i]);\n    let rowObject = {};\n    \n    colunasDesejadas.forEach(col => {\n        let idx = indexMap[col];\n        let val = (idx !== -1 && cols[idx]) ? cols[idx] : null;\n        \n        if (col === 'VALOR_REPASSE_PROPOSTA_EMENDA') {\n            if (val) {\n                let valorLimpo = val.replace(/\\./g, '').replace(',', '.');\n                rowObject['VALOR_LIMPO'] = Number(valorLimpo) || 0;\n            } else {\n                rowObject['VALOR_LIMPO'] = 0;\n            }\n        } else if (col === 'DIA_PROPOSTA') {\n            // 🔥 A MÁGICA DO ANO: Lê a data (ex: 12/04/2010) e extrai só o \"2010\"\n            let ano = 'Não Informado';\n            if (val && val.trim() !== '') {\n                let match = val.match(/\\b(19|20)\\d{2}\\b/);\n                ano = match ? match[0] : val;\n            }\n            rowObject['ANO'] = ano;\n            rowObject['DIA_PROPOSTA'] = (val && val.trim() !== '') ? val : 'Não Informado';\n        } else {\n            rowObject[col] = (val && val.trim() !== '') ? val : 'Não Informado';\n        }\n    });\n    \n    results.push({ json: rowObject });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        208
      ],
      "id": "a407e401-8d91-4969-bff6-fc161801f44c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "VALOR_LIMPO"
            }
          ]
        },
        "fieldsToSplitBy": "ANO, NM_PROPONENTE, MUNIC_PROPONENTE, Partido, OBJETO_PROPOSTA, DESC_ORGAO_SUP, NATUREZA_JURIDICA",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        640,
        208
      ],
      "id": "cf1dcc98-4e64-4291-93d4-e7b8b750a3af",
      "name": "Summarize"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "sessao_teste_1",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        176,
        624
      ],
      "id": "89fb35b1-de49-4b47-a2c4-426d522d33f8",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        432
      ],
      "id": "551c879f-c139-4945-979c-db928a2f4250",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Download a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get items in a folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get items in a folder": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "giacomonicdata.com",
          "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36",
          "content-length": "201",
          "accept": "*/*",
          "accept-encoding": "gzip, deflate, br, zstd",
          "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
          "content-type": "application/json",
          "origin": "https://emenda-insight-ia.lovable.app",
          "priority": "u=1, i",
          "referer": "https://emenda-insight-ia.lovable.app/",
          "sec-ch-ua": "\"Chromium\";v=\"148\", \"Google Chrome\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
          "sec-ch-ua-mobile": "?0",
          "sec-ch-ua-platform": "\"Windows\"",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "via": "2.0 Caddy",
          "x-forwarded-for": "179.160.232.217",
          "x-forwarded-host": "giacomonicdata.com",
          "x-forwarded-proto": "https"
        },
        "params": {},
        "query": {},
        "body": {
          "mensagem_usuario": "Quais foram os maiores municipios atendidos pelas emendas desta parlamentar em relação a valores, no ano de 2024?",
          "contexto_painel": {
            "parlamentar_selecionado": "ANA PAULA LIMA"
          }
        },
        "webhookUrl": "https://giacomonicdata.com/webhook/chat-auditoria",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49617a6ceb14626dd3d4120d1290379699ec15b47c4c80aced9aedc894f23cf7"
  }
}